By: Anuj Kothiyal

In [2]:
# Importing Libraries

import numpy as np
import pandas as pd

In [3]:
# Reading csv file

data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")
print(data)

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [4]:
# Make a copy of all the data in a variable, so as to avoid data loss in the original file
df = data.copy()

**Question:1 Missing Values**

Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [5]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

Here age is having 7 null values and rating is having 1 null value.

In [6]:
 # Now fill null values of age with mean as it will not affect the pattern that much

 mean_age = df.Age.mean().round(decimals = 1)
df.Age = df.Age.fillna(mean_age)
 print(df.Age)

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

In [7]:
# Now fill the null values for rating with mean, as it will not affect the rating pattern that much

mean_rating = df.Rating.mean().round(decimals = 1)
df.Rating = df.Rating.fillna(mean_rating)
print(df.Rating)

0     5.4
1     3.5
2    -1.0
3     4.4
4     6.4
5     1.4
6     0.0
7    -1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13   -1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24   -1.0
25    0.0
26    3.5
27    5.4
28    3.4
Name: Rating, dtype: float64

**Question:2 Data Types**

What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [8]:
# Check data types of each indicator

print(df.dtypes)

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [9]:
# Now if data type is float64 or int64 print numerical
# Or if data type is object print catogorical

data_types = df.dtypes

for column, dtype in data_types.items():
  print(f"{column}: {dtype}")
  if df[column].dtype == 'int64' or df[column].dtype == 'float64':
    print(f"Expected Type: Numerical\n")
  elif df[column].dtype == 'object':
    print(f"Expected Type: Categorical\n")

Index: int64
Expected Type: Numerical

Age: float64
Expected Type: Numerical

Salary: object
Expected Type: Categorical

Rating: float64
Expected Type: Numerical

Location: object
Expected Type: Categorical

Established: int64
Expected Type: Numerical

Easy Apply: object
Expected Type: Categorical

(Question:4 should be done in order to solve Question:3)

**Question:4 Salary Formatting**

Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [10]:
# Yes, Salary column needs to be formatted/standardized for consistent analysis
# We should remove symbols like '$', 'k', and should also put 1000 times while replacing 'k'

replace_dict = {'\$':"",'k':"000"}
salary_range = df.Salary.replace(replace_dict, regex = True)
df.Salary = salary_range
print(df.Salary)

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

**Question:3 Outliers**

Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating).

Should outliers be removed or adjusted?

In [11]:
# To find potensial outliers we should firstly find the values which do not fall under the IQR (Inter Quartile Range)

# For Age Column

df['Salary_mean'] = df.Salary.apply(lambda x: sum(map(int, x.split('-')))/2)

df['Salary_mean'].astype(float)

Q1 = df[['Age', 'Salary', 'Rating']].quantile(0.25)
Q3 = df[['Age', 'Salary_mean', 'Rating']].quantile(0.75)

IQR = Q3 - Q1

lower_threshold = Q1 - 1.5 * IQR
upper_threshold = Q3 + 1.5 * IQR

potential_outliers = df[
    (df['Age'] < lower_threshold['Age']) | (df['Age'] > upper_threshold['Age']) |
    (df['Salary'] < lower_threshold['Salary_mean']) | (df['Salary_mean'] > upper_threshold['Salary_mean']) |
    (df['Rating'] < lower_threshold['Rating']) | (df['Rating'] > upper_threshold['Rating'])
]

print(lower_threshold.Rating)
print(potential_outliers)

-4.6
    Index   Age       Salary  Rating       Location  Established Easy Apply  \
1       1  66.0  55000-66000     3.5    New York,Ny         2002       TRUE
3       3  64.0  44000-99000     4.4       India In         1988         -1
14     14  66.0  44000-99000     4.0  Australia Aus         2020       TRUE
24     24  13.0  44000-99000    -1.0    New York,Ny         1987         -1

    Salary_mean
1       60500.0
3       71500.0
14      71500.0
24      71500.0

<ipython-input-11-bf88a105ef37>:9: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df[['Age', 'Salary', 'Rating']].quantile(0.25)

**Question:5 Location Standardization**

Check the consistency of location entries. Do they need standardization, and how can this be achieved?

In [25]:
# Location names should not contain short forms, for analysis the complete names of locations should be beneficial/standardized

# Removing everything after comma ',' and ' ' from all values and also check for New York since it has space

df['Location'] = df['Location'].apply(lambda x: x.split(',')[0] if 'New York' in x else x.split(',')[0].split(' ')[0])
df['Location']

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

**Question:6 Established Column**

Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

In [38]:
# There are multiple values where Establishment Year is mentioned as -1, so we can't ignore them we should fill Unknown in place of -1

df.loc[df['Established'] == -1, 'Established'] = "Unknown"
df.Established

0        1999
1        2002
2     Unknown
3        1988
4        2002
5        1999
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10       2008
11       2009
12       1999
13       2019
14       2020
15       1999
16       1984
17       1943
18       1954
19       1955
20       1944
21       1946
22       1988
23       1999
24       1987
25       1980
26       1934
27       1935
28       1932
Name: Established, dtype: object

**Question:7 Easy Apply Indicator**

Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?

In [40]:
print(df['Easy Apply'])

0     TRUE
1     TRUE
2       -1
3       -1
4       -1
5     TRUE
6       -1
7       -1
8       -1
9     TRUE
10    TRUE
11      -1
12      -1
13    TRUE
14    TRUE
15      -1
16      -1
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21      -1
22    TRUE
23    TRUE
24      -1
25    TRUE
26    TRUE
27      -1
28      -1
Name: Easy Apply, dtype: object

In [46]:
# Since the values are either true or -1, so here -1 should represent false values
# We should replace -1 with false to make data more consistent

df.loc[df['Easy Apply'] == "-1", 'Easy Apply'] = "False"
df["Easy Apply"]

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: Easy Apply, dtype: object

**Question:8 Rating Range**

Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [59]:
# Since, rating is having values in decimals and some values are -1 too, so we can roundoff these decimals to integers and also add 1 to each rating
# Now, the rating is in a range of 0 to 10 which is consistent

df.Rating = df.Rating.round().astype(int)+1
print(df.Rating)

0     6
1     5
2     0
3     5
4     7
5     2
6     1
7     0
8     6
9     9
10    6
11    8
12    1
13    0
14    5
15    4
16    5
17    6
18    8
19    4
20    7
21    6
22    9
23    3
24    0
25    1
26    5
27    6
28    4
Name: Rating, dtype: int64

**Question:9 Age Distribution**

Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [61]:
# Age values are already cleaned in Question:1

print(df.Age)

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

**Question:10 Handling Special Characters**

Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

In [65]:
# Text-based columns like Location is already examined and cleaned too

print(df.Location)

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

**Question:11 Data Integrity**

Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [73]:
df

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_mean
0,0,44.0,44000-99000,6,India,1999,TRUE,71500.0
1,1,66.0,55000-66000,5,New York,2002,TRUE,60500.0
2,2,39.0,77000-89000,0,New York,Unknown,False,83000.0
3,3,64.0,44000-99000,5,India,1988,False,71500.0
4,4,25.0,44000-99000,7,Australia,2002,False,71500.0
5,5,44.0,77000-89000,2,India,1999,TRUE,83000.0
6,6,21.0,44000-99000,1,New York,Unknown,False,71500.0
7,7,44.0,44000-99000,0,Australia,Unknown,False,71500.0
8,8,35.0,44000-99000,6,New York,Unknown,False,71500.0
9,9,22.0,44000-99000,9,India,Unknown,TRUE,71500.0
10,10,55.0,10000-49000,6,India,2008,TRUE,29500.0
11,11,44.0,10000-49000,8,India,2009,False,29500.0
12,12,39.0,44000-99000,1,India,1999,False,71500.0
13,13,25.0,44000-99000,0,Australia,2019,TRUE,71500.0
14,14,66.0,44000-99000,5,Australia,2020,TRUE,71500.0
15,15,44.0,88000-101000,4,Australia,1999,False,94500.0
16,16,19.0,19000-40000,5,India,1984,False,29500.0
17,17,39.0,44000-99000,6,New York,1943,TRUE,71500.0
18,18,35.0,44000-99000,8,New York,1954,TRUE,71500.0
19,19,32.0,44000-99000,4,New York,1955,TRUE,71500.0
20,20,39.0,44000-99000,7,New York,1944,TRUE,71500.0
21,21,35.0,44000-99000,6,New York,1946,False,71500.0
22,22,19.0,55000-66000,9,New York,1988,TRUE,60500.0
23,23,39.0,44000-99000,3,New York,1999,TRUE,71500.0
24,24,13.0,44000-99000,0,New York,1987,False,71500.0
25,25,55.0,44000-99000,1,Australia,1980,TRUE,71500.0
26,26,39.0,55000-66000,5,India,1934,TRUE,60500.0
27,27,52.0,44000-99000,6,India,1935,False,71500.0
28,28,39.0,39000-88000,4,Australia,1932,False,63500.0

**Question:12 Easy Apply Transformation**

If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

In [76]:
# Easy Apply column is already cleaned and the non-boolean values are already transformed into boolean values
# Predicting -1 as False values

print(df['Easy Apply'])

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: Easy Apply, dtype: object

**Question:13 Location Accuracy**

Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [78]:
# Location entries are already cleaned and short form for country name is already been removed to avoid any inconsistency

print(df.Location)

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

**Question:14 Handling Categorical Data**

For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

In [81]:
# All categorical data are cleaned as of now

print(df.dtypes)

Index            int64
Age            float64
Salary          object
Rating           int64
Location        object
Established     object
Easy Apply      object
Salary_mean    float64
dtype: object

**Question:15 Consitent Rating Scale**

Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [82]:
# Already been normalized on a scale of 0 to 10 for uniform analysis

print(df.Rating)

0     6
1     5
2     0
3     5
4     7
5     2
6     1
7     0
8     6
9     9
10    6
11    8
12    1
13    0
14    5
15    4
16    5
17    6
18    8
19    4
20    7
21    6
22    9
23    3
24    0
25    1
26    5
27    6
28    4
Name: Rating, dtype: int64